  a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  footer {
    background: #0B3954;
  }

    body, html {
      height: 100%;
    }

    .list-unstyled {
        padding-left: 0;
    }

    .list-unstyled li {
        margin-bottom: 15px; /* Spazio tra le voci della lista */
    }

    .list-unstyled a {
        display: flex;
        align-items: center;
        color: inherit;
        text-decoration: none; /* Rimuove la sottolineatura dai link */
        transition: color 0.3s;
    }

    .list-unstyled a:hover {
        text-decoration: none; /* Mantiene la decorazione del testo al passaggio del mouse */
    }

    .list-unstyled i {
        font-size: 1.5rem; /* Dimensione delle icone */
        margin-right: 10px; /* Spazio tra icona e testo */
        color: goldenrod; /* Colore delle icone */
    }

    /* Colore per testo social */
    #instagram {
        color: white;
        font-style: normal;
        font-size: 1rem;
    }

    #instagram:hover {
        color: white;
    }

    #facebook {
        color: white;
        font-style: normal;
        font-size: 1rem;
    }

    #facebook:hover {
        color: white;
    }

    #tiktok {
        color: white;
        font-style: normal;
        font-size: 1rem;
    }

    #tiktok:hover {
        color: white;
    }

    #twitter {
        color: white;
        font-style: normal;
        font-size: 1rem;
    }

    #twitter:hover {
        color: white;
    }

    /* Colori dei social media al passaggio del mouse */
    .bi-instagram:hover {
        color: #C13584; /* Colore Instagram al passaggio del mouse */
    }

    .bi-facebook:hover {
        color: #3b5998; /* Colore Facebook al passaggio del mouse */
    }

    .bi-tiktok:hover {
        color: #000000; /* Colore TikTok al passaggio del mouse */
    }

    .bi-twitter:hover {
        color: #1DA1F2; /* Colore Twitter al passaggio del mouse */
    }

    h5 {
        color: goldenrod !important; /* Colore dorato per i titoli */
    }

    .text-white, .text-muted {
        color: #FFFFFF !important; /* Colore bianco per tutte le scritte */
    }

    a {
        color: #FFFFFF; /* Colore bianco per i link */
    }

    a:hover {
        color: #FFFFFF; /* Mantiene il colore bianco al passaggio del mouse */
    }

    footer {
        background-color: #0B3954;
        color: #fff;
        text-align: left;
        width: 100%;
        box-sizing: border-box;
        padding-left: 50px;
      }
      
      footer .container-fluid {
        max-width: 100%;
      }
      
      footer a {
        color: gold;
        text-decoration: none;
      }
      footer a:hover {
        text-decoration: underline;
      }