body {
    background-color: #0B3954;
    color: #2F97C1;
    overflow-x: hidden;
    min-height: 100vh;
    margin: 0;
    background-image: url("../assets/img/fitness.jpg");
    background-size: contain;
    background-position: center;
}

.container {
    margin-top: 50px;
}

.char {
    transform: translateY(-115px);
    transition: transform .5s;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    color: #2F97C1;
    background-color: #194b68;
    z-index: 9999;
}

#btn-back-to-top:hover {
    color: #FBAF00;
}

#blurs {
    padding-bottom: 45px;
    backdrop-filter: blur(8px);
}

#mainBlurs {
    backdrop-filter: blur(8px);
}

#mainText {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    line-height: 5.9rem;
    font-size: 50px;
}

#pText {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    line-height: 5.9rem;
    font-size: 20px;
}

#mainImage {
    width: 40%;
}

.card {
    border: transparent;
    transition: box-shadow 0.3s ease;
}

.card img {
    width: 100%;
    height: 200px;
}

.card:hover {
    box-shadow: 0 2px 8px #FBAF00;
}

h2 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    line-height: 5.9rem;
}

#desc1 {
    width: 80%;
    height: auto;
    max-width: 750px;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 400px;
    margin-top: 100px;
    background-color: #0B3954;
}

#desc2 {
    width: 80%;
    height: auto;
    max-width: 750px;
    padding: 20px;
    box-sizing: border-box;
    margin-right: 400px;
    margin-top: 100px;
    background-color: #0B3954;
}

#details {
    text-align: left;
}

#info1 h3 {
    color: #FBAF00;
}

#info1 p {
    color: #587291;
}

#info2 h3 {
    color: #FBAF00;
}

#info2 p {
    color: #587291;
}

#info3 h3 {
    color: #FBAF00;
}

#info3 p {
    color: #587291;
}

#info4 h3 {
    color: #FBAF00;
}

#info4 p {
    color: #587291;
}

#info5 h3 {
    color: #FBAF00;
}

#info5 p {
    color: #587291;
}

#info6 h3 {
    color: #FBAF00;
}

#info6 p {
    color: #587291;
}

#listIcon {
    font-size: 2rem;
}

#review {
    color: white;
    background-color: #587291;
}

#review h5 {
    color: #2F97C1;
}

.pricing-header {
    color: #FBAF00;
}

#plan-card {
    background-color: #2F97C1;
}

#plan-btn {
    background-color: #0B3954;
    color: #FBAF00;
    transition: all .2s ease;
}

#plan-btn:hover {
    background-color: #194b68;
    transform: scale(1.05);
}

@media (max-width: 768px) {

    #mainText {
        font-size: 30px;
    }

    #mainImage {
        width: 70%;
    }

    #pText {
        font-size: 16px;
    }

    #bodyText {
        font-size: 18px;
    }

    #desc1 {
        width: 100%;
        margin-left: 0;
    }

    #desc2 {
        width: 100%;
    }

    #userrev {
        font-size: 20px;
    }
}