.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #343a40;
    color: white;
    position: fixed;
    left: -250px;
    top: 0;
    transition: left 0.3s ease;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

#sidebar-nav a {
    background-color: #587291;
    color: #0B3954;
}

.sidebar.open {
    left: 0;
}

.sidebar .list-group-item {
    background-color: #343a40;
    color: white;
    border: none;
}

.sidebar .list-group-item:hover {
    background-color: #495057;
}

.content {
    margin-left: 0;
    transition: margin-left 0.3s ease;
    flex-grow: 1;
    padding: 20px;
}

.content.sidebar-open {
    margin-left: 250px;
}

.toggle-button {
    position: sticky;
    top: 20px;
    left: 30px;
    background-color: #0B3954;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1001;
}

@media (max-width: 768px) {

    .sidebar {
        width: 70%;
        left: -100%;
    }

    .sidebar.open {
        left: 0;
    }

    .content.sidebar-open {
        margin-left: 0;
    }

    .toggle-button {
        display: flex;
        float: right;
    }

}