
.container {
  width: 50%;
  margin: 30px auto;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  text-align: center;
  color: goldenrod;
  height: 220vh;
}

/* grafici */
.chart-container {
  position: relative;
  width: 100%;
  height: 450px;
}

canvas {
  width: 100%;
  height: 100%;
}

h2 {
  text-align: center;
  font-family: "Verdana", Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding-bottom: 30px;
}

#myChart {
  width: 90% !important;
  height: 100% !important;
  padding-left: 10% !important;
}

@media (max-width: 400px) {
  #myChart {
    width: 100% !important;
    height: 100% !important;
    padding-left: 0% !important;
  }
}

@media (max-width: 527px) {
  .main {
    height: 150vh;
  }
}

#myChart2 {
  margin-top: 40px;
  margin: 30px;
}

button {
  margin: 10px;
  margin-bottom: 70px;
}

.chart-label {
  font-size: 1.5rem;
  font-weight: bold;
}

.form-select {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0.5rem;
  font-size: 1rem;
}

.active-button {
  background-color: #0B3954;
  /* Colore di sfondo del bottone attivo */
  color: #FBAF00;
  /* Colore del testo del bottone attivo */
  border-color: #FBAF00;
  /* Colore del bordo del bottone attivo */
}