.container-fluid {
  width: 50%;
}
.container2 {
  margin-top: 50px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: goldenrod;
}

/* grafici */
.chart-container {
  position: relative;
  width: 100%;
  height: 470px;
  margin-bottom: 40rem;
}

h2 {
  font-family: "Verdana", Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding-bottom: 35px;
}

#myChart {
  width: 90% !important;
  height: 100% !important;
  padding-left: 10% !important;
  margin-bottom: 40px;
}

@media (max-width: 300px) {
  #myChart {
    width: 100% !important;
    height: 100% !important;
    padding-left: 0% !important;
  }
}

@media (max-width: 300px) {
  #myChart2 {
    width: 100% !important;
    height: 100% !important;
    padding-left: 0% !important;
  }
}

@media (max-width: 240px) {
  .chart-container {
    padding-bottom: 30px;
  }
}

  #myChart2 {
    margin-bottom: 40px;
  }

button {
  margin: 10px;
  margin-bottom: 20px;
  margin-right: 1px;
}

.container3 {
  margin-bottom: 50px;
}

.chart-label {
  font-size: 1.7rem;
  font-weight: bold;
  margin: 5px;
}

.form-select {
  margin-top: 10px;
  padding: 0.7rem;
  font-size: 1.15rem;
}

.container1 {
  padding-top: 20px;
}

.active-button {
  background-color: #0B3954;
  /* Colore di sfondo del bottone attivo */
  color: #FBAF00;
  /* Colore del testo del bottone attivo */
  border-color: #FBAF00;
  /* Colore del bordo del bottone attivo */
}